CHECK_INTERVAL_SECONDS=30
MAX_OUTAGE_SECONDS=600
SOCKET_HOST=1.1.1.1
SOCKET_PORT=53
SOCKET_TIMEOUT_SECONDS=3
HTTP_URL=https://clients3.google.com/generate_204
HTTP_TIMEOUT_SECONDS=5
REBOOT_COMMAND=nsenter --target 1 --mount --uts --ipc --net --pid /sbin/reboot
LOG_DIR=/app/logs
LOG_FILE=smart-service.log
LOG_MAX_BYTES=5242880
LOG_BACKUP_COUNT=5
SMART_SERVICE_IMAGE=docker.io/kennydaktyl/smart-service
SMART_SERVICE_TAG=latest
